{
  "AuthFunction": {
    "DYNAMODB_ENDPOINT": "http://localhost:8000",
    "STAGE": "local"
  },
  "NewsFunction": {
    "DYNAMODB_ENDPOINT": "http://localhost:8000",
    "STAGE": "local"
  },
  "GalleryFunction": {
    "DYNAMODB_ENDPOINT": "http://localhost:8000",
    "STAGE": "local"
  },
  "local": {
    "admin": {
      "username": "admin",
      "password": "CHANGE_THIS_PASSWORD"
    },
    "jwt_secret": "CHANGE_THIS_JWT_SECRET_KEY_FOR_PRODUCTION",
    "table_name": "blog-table",
    "dynamodb_endpoint": "http://localhost:8000",
    "region": "ap-northeast-2"
  }
}
